{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		body {
			background-image: url(https://st.depositphotos.com/2155259/3380/v/950/depositphotos_33807555-stock-illustration-background-with-shopping-color-bags.jpg);
			background-size: cover;
		}
	</style>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	 <link rel="icon" type="image/gif/png" href="static/icon.png">


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="http://127.0.0.1:8000/">ReportFX</a>
			<a href="cart?" target="__blank"> <i class="fas fa-shopping-cart" style="font-size:2em;color:white"></i></a>

		</div>
	</nav>
	

	<div style="text-align:center">
			<br>
			<div style="align:center; text-align: center;">
		
				
				<div class="container ">
						<img class="img-fluid" src="https://txt-dynamic.static.1001fonts.net/txt/dHRmLjcyLjAwMDAwMC5jMmh2Y0hCcGJtY2dZMkZ5ZEEsLC4w/spantaran.regular.png"></img> 
						
					</div>
		
			</div>
			<br>
			<br>
		<div style="padding-left:20%; width:80%;">
			<table class="table table-striped table-dark" style="border-radius: 20px;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Product</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody>

					{% for item1,item2 in cart_content%}

					<tr>
						<td>
							{{forloop.counter}}
						</td>
						<td>
							{{ item1 }}
						</td>
						<td>
							&#36;{{ item2 }}
						</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</body>

</html>
{% endblock %}