{% block content %}
<!DOCTYPE html>
<html>
<head>
	<style>
	body{
		background-image: url(https://st.depositphotos.com/2155259/3380/v/950/depositphotos_33807555-stock-illustration-background-with-shopping-color-bags.jpg);
		background-size: cover;
	}
	</style>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<br>
	<div style="align:center; text-align: center;">
		
		<div style="height:80px; width: 50%;
		margin: 0 auto; background-repeat: no-repeat; background-image: url(https://txt-dynamic.static.1001fonts.net/txt/dHRmLjcyLjAwMDAwMC5jMmh2Y0hCcGJtY2dZMkZ5ZEEsLC4w/spantaran.regular.png)">
		</div>
	
	</div>
	<br>
	<br>

</head>
<body>
	<div style="text-align:center"	>
	<div style="padding-left:20%; width:80%;">
		<table class="table table-striped table-dark" style="border-radius: 20px;">
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Product</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
				  </tr>
				</thead>
				<tbody>
						
						{% for key,value in cart_content.items%}

						<tr>
							<td>
									{{forloop.counter}}
							</td>
							<td>
									{{ key }}
							</td>
							<td>
									{{ value }}
							</td>
						
						</tr>
						{% endfor %}
				</tbody>
			  </table>
			</div>
		</div>
	
</body>
</html>
{% endblock %}