{% extends "web/Head.html" %}

{% block content %}
<br>

<h1 class="col text-center">CPU selection </h1>
<p class="col text-center" style='color:red'>* Please select any one CPU from the list of recommended set of CPU</p>



<div class="row">
    <div class='col-lg-6 col-md-6 mb-6'>
        <form action="Step2" method="get">
            <!-- <p>Value1</p><input name="val1" id="val1" type="text"> -->


            <table id="CPU" class="table table-hover">
                <thead>
                    <tr>
                        <th>CPU Name</th>
                        <th>Model</th>
                        <th>Price </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  onclick="document.getElementById('RadioOne').click();">
                        <td> <input id="RadioOne" type="radio"
                                name="CPU" value="0" required> {{CPU1}}</td>
                        <td>{{CPU1_model}}</td>
                        <td>&#36;{{CPU1_price}}</td>
                    </tr>
                    <tr onclick="document.getElementById('RadioTwo').click();">
                        <td ><input id="RadioTwo" type="radio"
                                name="CPU" value="1" required> {{CPU2}}</td>
                        <td>{{CPU2_model}}</td>
                        <td>&#36;{{CPU2_price}}</td>       
                    </tr>
                    <tr onclick="document.getElementById('RadioThree').click();">
                        <td ><input id='RadioThree' type="radio"
                                name="CPU" value="2" required> {{CPU3}}</td>
                                <td>{{CPU3_model}}</td>
                                <td>&#36;{{CPU3_price}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center">
                    <button onclick="$(this).closest('CPU').submit();" class='btn btn-lg btn-info center-block'>Submit</button>
                    <button type="button" class='btn btn-lg btn-success center-block' onclick="javascript:location.href='cpu_details?graph=1'">CPU Details</button>
                </div>     
        </form>
        
    </div>
    <div class='col-lg-6 col-md-6 mb-6'>

        {{Graph|safe}}
    </div>
</div>
{% endblock %}