{% extends "web/Head.html" %}

{% block content %}
{% if request.GET.CPU %}
<h1  class="text-center">RAM selection </h1>
<p class="text-center" style='color:red'>* Please select any one RAM from the list of recommended set of RAM</p>
<br>
<div class="row">
    <div class='col-md-6'>
        <form action="Step4" method="get">
            <!-- <p>Value1</p><input name="val1" id="val1" type="text"> -->
            <input type="hidden" name="CPU" value={{request.GET.CPU}}> 
            <input type="hidden" name="GPU" value={{request.GET.GPU}}> 
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>RAM Name</th>
                        <th>Make</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  onclick="document.getElementById('RadioOne').click();">
                        <td> <input id="RadioOne" type="radio"
                                name="RAM" value="0" required> {{RAM1}}</td>
                        <td>{{RAM1_model}}</td>
                        <td>&#36;{{RAM1_price}}</td>
                    </tr>
                    <tr onclick="document.getElementById('RadioTwo').click();">
                        <td ><input id="RadioTwo" type="radio"
                                name="RAM" value="1" required> {{RAM2}}</td>
                        <td>{{RAM2_model}}</td>
                        <td>&#36;{{RAM2_price}}</td>       
                    </tr>
                    <tr onclick="document.getElementById('RadioThree').click();">
                        <td ><input id='RadioThree' type="radio"
                                name="RAM" value="2" required> {{RAM3}}</td>
                                <td>{{RAM3_model}}</td>
                                <td>&#36;{{RAM3_price}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align:center">
                <button type="submit" class='btn btn-lg btn-info center-block'>Submit</button>
            </div>
        </form>
    </div>
    <div class='col-md-6'>

        {{Graph|safe}}
    </div>
</div>
{% else %}
    <h1>Missing Get Variable</h1>
{% endif %}

{% endblock %}